<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.andreasrohner.spartantimelapserec">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.TimeLapse">
        <activity
            android:name=".settings.RestSettingsActivity"
            android:exported="false"
            android:label="@string/pref_restapi_settings_header" />
        <activity
            android:name=".settings.Camera1SettingsActivity"
            android:exported="false"
            android:label="@string/pref_camera_settings_category" />
        <activity
            android:name=".settings.StopSettingsActivity"
            android:exported="false"
            android:label="@string/pref_stop_settings_category" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreviewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <service
            android:name=".ForegroundService"
            android:exported="false"
            android:foregroundServiceType="camera" />
        <service
            android:name=".rest.RestService"
            android:exported="false"
            android:foregroundServiceType="camera" />

        <receiver android:name=".ScheduleReceiver" />
        <receiver android:name=".PowerSavingReceiver" />
    </application>

</manifest>